@use './variables' as *;

.calendar {
  &__grid {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 0 $grid-padding;
    gap: $cell-gap;
    width: $calendar-width;
    margin: auto;
  }

  &__day {
    height: $cell-size;
    width: $cell-size;
    background-color: #eee;
    box-sizing: border-box;
    border: 1px solid black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    transition:
      transform 300ms ease,
      background-color 300ms ease;

    &::before {
      position: absolute;
      font-size: 30px;
    }

    &:hover {
      cursor: pointer;
      background-color: #ffbfcb;
      transform: translateY(-20px);
      z-index: 2;
    }
  }
}

/* === цифри 1–31 === */
@for $i from 1 through 31 {
  .calendar__day:nth-child(#{$i})::before {
    content: '#{$i}';
  }
}

/* === зсув першого дня (mon = 0 … sun = 6) === */
@each $day, $index in $weekdays {
  .calendar--start-day-#{$day} {
    .calendar__day:nth-child(1) {
      margin-left: #{($cell-size + $cell-gap) * $index};
    }
  }
}

/* === довжина місяця 28-30 === */
@for $len from 28 through 30 {
  .calendar--month-length-#{$len} {
    // із ($len+1)-го і далі — прибираємо
    .calendar__day:nth-child(n + #{$len + 1}) {
      display: none;
    }
  }
}
